<div class="container-about">
  <div class="about-text">
    <h1>Who am I?</h1>
    <h2>I am part of a beautiful family and...</h2>
    <p>
      I am a Systems Analysis and Development student, excited about new
      learning. I also have academic training as a Physical Education teacher.
      My name is
      <span style="color: #5ca2c6; font-weight: bold">Wellisson Junior</span>
      and I'm 39 years old.
    </p>

    <div class="buttom-about">
      <a
        href="http://www.linkedin.com/in/wellisson-junior-b5589b266"
        target="_blank"
      >
        <button class="btn btn-secondary" type="button">
          <span>About ME</span>
        </button>
      </a>
    </div>
  </div>
  <div class="about-image">
    <img src="{{ img }}" class="img-fluid" alt="..." style="height: 550px" />
  </div>
</div>
