<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="linkedin-icon icon-class">
      <a
        class="navbar-brand"
        href="https://www.linkedin.com/in/wellisson-junior-b5589b266/"
        target="_blank"
      >
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div class="git__hub-icon icon-class">
      <a
        class="navbar-brand"
        href="https://github.com/JuniorWMA"
        target="_blank"
      >
        <i class="bi bi-github"></i>
      </a>
    </div>
    <div class="instagram-icon icon-class">
      <a class="navbar-brand" href="#">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</nav>
<div class="comp-about">
  <app-about></app-about>
</div>
<div class="tech-container">
  <app-tech></app-tech>
</div>
